body {
    font-family: "Roboto", sans-serif;
    opacity: 0;
    transition: opacity 1.2s;

 }

 @media (min-width: 580px) {
    .map {
       display: flex;
       justify-content: center;
       transition: 0.4s;
    }

    .productdropdown {
       display: flex;
       justify-content: center;
       transition: 0.4s;
    }

    ul.categories {
       height: 7vw !important;
       transition: height 0.3s;
    }
 }

 @media screen {
    ul.productlist {
       margin-top: 0%;
       margin-bottom: 1%;
       width: 100%;
    }

    .navbar {
       height: 100%;
       block-size: fit-content;
       overflow-x: hidden;
       overflow-y: auto;
    }

    .search {
       margin-top: 1%;
       margin-bottom: 2%;
    }

    .map {
       overflow: auto;
       margin-top: 5%;
    }

    #svg1 {}
 }

 .searchlist>li {
    margin: 3px 1px;
    padding: 6px;
    background: none;
    border: 2px solid #2a94ff ;
    color: #2a94ff;


 }

 .searchlist>li:hover {
    background: #2a94ff;
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 1px rgba(0, 0, 0, .161);


 }

 ul.searchlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 1px;
 }

 rect {
    opacity: 20%;
    transition: 0.35s;

    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
 }

 rect:hover {
    opacity: 100%;

    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;

 }


 ul.categories {
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    padding: 0.1px;
    height: 30vw;
 }

 ul.categories li {
    display: inline-block;
    text-align: center;
 }

 ul.productlist {

    list-style: none;
    font-size: medium;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.123);

    width: 100%;
    padding: 1vw;
    transition: 0.2s;
 }

 li {
    margin: 10px;
    background-color: #4d4d4d;
    padding: 10px;
    border-radius: 12px;
    transition: 0.2s;
    display: inline;
 }

 .clicked {
    background-color: #161616 !important;
    color: white !important;
 }

 .highlightgroup {
    opacity: 100%;
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;

 }

 text {
    transition: 0.2s;
    pointer-events: none;
 }

 .nametext {
    fill: white;

 }

 .clickedsub {
    background: #272727;
 }

 .search {
    margin-top: 1vw;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .161);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
 }

 .dot {
    fill: rgb(0, 0, 0);

 }

 .pulse {
    fill: #c4c4c4d5 !important;
    -webkit-animation: pulse 2s cubic-bezier(0.49, 0.01, 0, 1);
    animation: pulse 2s cubic-bezier(0.49, 0.01, 0, 1);
    -webkit-animation-delay: 0.11s;
    animation-delay: 0.11s;


 }

 g#layer-oc1>path {
    -webkit-transform-origin: 0% 0% !important;
    transform-origin: 0% 0% !important;
    transform-box: initial !important;

 }

 g * {
    -webkit-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
 }

 .pulse2 {
    fill: #6b6b6b93 !important;
    -webkit-animation: pulse2 2s cubic-bezier(0.49, 0.01, 0, 1);
    animation: pulse2 2s cubic-bezier(0.49, 0.01, 0, 1);
 }



 @-webkit-keyframes pulse2 {


    0% {
       -webkit-transform: scale(1);
    }

    30% {
       -webkit-transform: scale(2.5);
    }

    100% {
       -webkit-transform: scale(1);
    }

 }

 @-webkit-keyframes pulse {

    0% {
       fill: #ffffff00 !important;
       -webkit-transform: scale(1);


    }

    30% {
       fill: #9292928f !important;
       -webkit-transform: scale(3);

    }

    100% {
       fill: #ffffff00 !important;
       -webkit-transform: scale(1);

    }

 }

 @keyframes pulse2 {

    0% {
       -webkit-transform: scale(1);
    }

    30% {
       -webkit-transform: scale(2.5);
    }

    100% {
       -webkit-transform: scale(1);
    }

 }

 @keyframes pulse {

    0% {
       fill: #ffffff00 !important;
       -webkit-transform: scale(1);


    }

    30% {
       fill: #9292928f !important;
       -webkit-transform: scale(3);

    }

    100% {
       fill: #ffffff00 !important;
       -webkit-transform: scale(1);

    }
 }


 ul {
    margin-bottom: 10%;
 }

 .productdropdown>ul {
    margin: 0.5px;
    padding: 1px;
 }

 @keyframes fade-in {
    from {
       opacity: 0;
    }

    to {
       opacity: 1;
    }
 }

 @keyframes fade-in-top {
    from {

       transform: translateY(+80px);
    }

    to {

       transform: translateY(0);
    }
 }


 div[class="productdropdown"]>ul>li {
    background-color: #808080;
    color: white;
    transition: 0.2s;

 }

 .slide-top {
    -webkit-animation: fade-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
    animation: fade-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
 }

 @-webkit-keyframes slide-top {
    0% {
       -webkit-transform: translateY(+100px);
       transform: translateY(+100px);
    }

    100% {
       -webkit-transform: translateY(0);
       transform: translateY(0);
    }
 }

 @keyframes slide-top {
    0% {
       -webkit-transform: translateY(+100px);
       transform: translateY(+100px);
    }

    100% {
       -webkit-transform: translateY(0);
       transform: translateY(0);
    }
 }

 .location {
    fill: rgb(0, 0, 0) !important;
    -webkit-animation: location cubic-bezier(0.4, 0.01, 0.64, 0.99) 4s infinite;
    animation: location cubic-bezier(0.4, 0.01, 0.64, 0.99) 4s infinite;
 }

 .locationP2 {
    fill: rgb(61, 61, 61) !important;
    -webkit-animation: locationP2 cubic-bezier(0.4, 0.01, 0.64, 0.99) 4s infinite;
    animation: locationP2 cubic-bezier(0.4, 0.01, 0.64, 0.99) 4s infinite;
 }

 .locationP3 {
    fill: rgb(54, 7, 7) !important;
    -webkit-animation: locationP3 cubic-bezier(0.4, 0.01, 0.64, 0.99) 4s infinite;
    animation: locationP3 cubic-bezier(0.4, 0.01, 0.64, 0.99) 4s infinite;
 }

 @-webkit-keyframes location {
    0% {
       -webkit-transform: translateY(-2px);
    }

    50% {
       -webkit-transform: translateY(-10px);
    }

    100% {
       -webkit-transform: translateY(-2px);
    }


 }

 @keyframes location {
    0% {
       -webkit-transform: translateY(-2px);
    }

    50% {
       -webkit-transform: translateY(-10px);
    }

    100% {
       -webkit-transform: translateY(-2px);
    }


 }

 @-webkit-keyframes locationP2 {
    0% {
       -webkit-transform: translateY(0);
    }

    50% {
       -webkit-transform: translateY(-8px);
    }

    100% {
       -webkit-transform: translateY(0);
    }


 }

 @keyframes locationP2 {
    0% {
       -webkit-transform: translateY(0);
    }

    50% {
       -webkit-transform: translateY(-8px);
    }

    100% {
       -webkit-transform: translateY(0);
    }


 }

 @-webkit-keyframes locationP3 {
    0% {
       -webkit-transform: translateY(0);
    }

    50% {
       -webkit-transform: translateY(-5px);
    }

    100% {
       -webkit-transform: translateY(0);
    }

 }

 @keyframes locationP3 {
    0% {
       -webkit-transform: translateY(0);
    }

    50% {
       -webkit-transform: translateY(-5px);
    }

    100% {
       -webkit-transform: translateY(0);
    }

 }


 input.animate__fadeInDown {
    animation-delay: 0.2s;
 }